@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
:root{
    --clr: #303F9F;
}
body{
    /* display: flex; */
    min-height: 100vh;
    background: var(--clr);
}
.navigation{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navigation ul {
    display: flex;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: default;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon{
    transform: translateY(-32px);
}
.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
}
.navigation ul li.active a .text{
    transform: translateY(10px);
    opacity: 1;
}
.indicator{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #4DD0E1;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    top: -50%;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-sizing: border-box;
}

section:nth-child(odd) {
    background-color: lightblue;
}

section:nth-child(even) {
    background-color: var(--clr);
}


html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(78, 78, 210);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

/************************************/
.wave{
  width: 100%;
  position: absolute;
  z-index: 1;
  top: -90px;
}

.slideshow-container {
  max-width: 1150px;
  height: 85vh;
  /* margin: auto; */
  /* position: relative; */
  /* background-color: #303F9F; */
  /* background-color: #303F9F; */
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  position: absolute;
  right: 0;
  top: 0;
}

.slick-slider {
  position: relative;
}

.slick-slide {
  overflow: hidden;
}

.slick-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.slick-arrow {
  font-size: 24px;
  color: #888;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 100px;
}

.slick-next {
  right: 100px;
}

.slick-dots {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  align-items: center;
}

.slick-dots li {
  margin: 0 5px;
  background-color: aqua;
  border-radius: 35%;
}

.slick-dots button {
  font-size: 12px;
  /* color: #888; */
  /* background-color: aqua; */
  border: 1px solid #888;
  border-radius: 30%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.slick-dots .slick-active button {
  background-color: rgb(19, 67, 224);
  /* color: rgb(22, 22, 208); */
}

.skeleton-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  background: linear-gradient(-45deg, #f0f0f0c6 25%, #e0e0e0c3 50%, #f0f0f08a 75%); /* Adjust colors as needed */
  animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

#logo-image{
  height: 120px;
  position: absolute;
  width: 120px;
  z-index: 9;
  top: 15px;
  left: 15px;
  /* background-color: red; */
}
#logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}