@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
:root{
    --clr: #303F9F;
}
body{
    /* display: flex; */
    min-height: 100vh;
    background: var(--clr);
}
.navigation{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navigation ul {
    display: flex;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: default;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon{
    transform: translateY(-32px);
}
.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
}
.navigation ul li.active a .text{
    transform: translateY(10px);
    opacity: 1;
}
.indicator{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #4DD0E1;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    top: -50%;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-sizing: border-box;
}

section:nth-child(odd) {
    background-color: lightblue;
}

section:nth-child(even) {
    background-color: var(--clr);
}


html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(78, 78, 210);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

/************************************/
.wave{
  width: 100%;
  position: absolute;
  z-index: 1;
  top: -90px;
}

#logo-image{
  height: 120px;
  position: absolute;
  width: 120px;
  z-index: 9;
  top: 15px;
  left: 15px;
  /* background-color: red; */
}
#logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 1050px;
  height: 70vh;
  margin: auto;
  background-color: yellowgreen;
  margin-top: 80px;
  margin-right: 20px;
  border: 2.5px solid whitesmoke;
  border-radius: 14px;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 70vh;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #eee 25%, #dddddddc 50%, #eeeeeee2 75%);
  background-size: 200% 100%;
  animation: skeletonAnimation 1.5s infinite linear;
}

@keyframes skeletonAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
