@import url("../css/fonts.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide',sans-serif;
}
:root{
    --clr: #303F9F;
}
body{
    /* display: flex; */
    min-height: 100vh;
    background: var(--clr);
}
.navigation{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 9;
}
.navigation ul {
    display: flex;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: default;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon{
    transform: translateY(-32px);
}
.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
}
.navigation ul li.active a .text{
    transform: translateY(10px);
    opacity: 1;
}
.indicator{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #4DD0E1;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    top: -50%;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    box-sizing: border-box;
}

section:nth-child(odd) {
    background-color: lightblue;
}

section:nth-child(even) {
    background-color: var(--clr);
}


html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(78, 78, 210);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

/************************************/
.wave{
  width: 100%;
  position: absolute;
  z-index: 1;
  top: -90px;
}

#logo-image{
  height: 120px;
  position: absolute;
  width: 120px;
  z-index: 9;
  top: 15px;
  left: 15px;
  /* background-color: red; */
}
#logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#india-animated-logo{
  height: 50px;
  position: absolute;
  width: 90px;
  z-index: 9;
  top: 15px;
  right: 15px;
}

#india-animated-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 1050px;
  height: 70vh;
  margin: auto;
  background-color: yellowgreen;
  margin-top: 85px;
  margin-right: 30px;
  border: 2.5px solid whitesmoke;
  border-radius: 14px;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 70vh;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #eee 25%, #dddddddc 50%, #eeeeeee2 75%);
  background-size: 200% 100%;
  animation: skeletonAnimation 1.5s infinite linear;
}

@keyframes skeletonAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.home-menu {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  z-index: 9;
  align-items: center;
  /* background-color: red; */
  margin-left: 30px;
  position: relative;
  top: 5%;
}

.home-menu-ul {
  position: relative;
  transform: skewY(-15deg);
}

.home-menu-ul li {
  position: relative;
  list-style: none;
  width: 250px;
  background: #3e3f46;
  padding: 14px;
  z-index: var(--i);
  transition: 0.5s;
}

.home-menu-ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

.home-menu-ul li::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #2e3133;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}

.home-menu-ul li:last-child::after {
  box-shadow: -100px 100px 20px rgba(0, 0, 0, 0.10);
}

.home-menu-ul li a {
  text-decoration: none;
  font-family:'Audiowide';
  font-size: 30px;
  letter-spacing: 0.04rem;
  color: #999;
  display: block;
  transition: 0.5s;
}

.home-menu-ul li:hover {
  background: var(--clr1);
  transform: translateX(-50px);
}

.home-menu-ul li:hover::before {
  background: var(--clr1);
}

.home-menu-ul li:hover::after {
  background: var(--clr1);
}

.home-menu-ul li:hover a {
  color: #fff;
}
.home-menu ul li a span {
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  text-align: center;
  height: 100%;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  opacity: 0.5;
}
.home-menu ul li:hover a span {
  opacity: 1;
}

.home-menu ul li a span i{
  font-size: 30px;
}

@keyframes wavy-border {
  0% {
    border-radius: 20px;
    border: 2px white solid;
  }
  25% {
    border-radius: 20px 40px 20px 40px;
    border: 2px white solid;
  }
  50% {
    border-radius: 40px 20px 40px 20px;
    border: 2px white solid;
  }
  75% {
    border-radius: 20px 40px 20px 40px;
    border: 2px white solid;
  }
  100% {
    border-radius: 20px;
    border: 2px white solid;
  }
}

#error-page-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: wavy-border 2s infinite;
}

#main-service-text{
  font-size: 20px;
  font-weight: 400;
  color: darkblue;
  margin-bottom: 8px;
}

#second-service-text{
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  color: grey;
}

.icon-service{
  color: red;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 50px; */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  /* height: 100%; */
  min-height: 181px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;
  align-items: center;
  /* padding: 4px; */
  border-radius: 20px;
  border: 2px red solid;
  animation: wavy-border-service 2s infinite;
  font-family:'Audiowide';
}

@keyframes wavy-border-service {
  0% {
    border-radius: 20px;
    border: 3px darkblue solid;
  }
  25% {
    border-radius: 20px 40px 20px 40px;
    border: 3px darkblue solid;
  }
  50% {
    border-radius: 40px 20px 40px 20px;
    border: 3px darkblue solid;
  }
  75% {
    border-radius: 20px 40px 20px 40px;
    border: 3px darkblue solid;
  }
  100% {
    border-radius: 20px;
    border: 3px darkblue solid;
  }
}

#services{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#service-heading{
  /* z-index: 1; */
  color: darkblue;
  padding-bottom: 20px;
}

#about{
  display: flex;
  justify-content: center;
  padding: 80px;
}

#box-photo-content{
  width: 300px;
  /* height: 400px; */
  background: #1e1e1e;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  overflow: hidden;
}

#box-photo-content::before{
  content: '';
  position: absolute;
  width: 150px;
  height: 600px;
  left: 75px;
  top: -100px;
  background: linear-gradient(#00e5ff, #b400fb);
  animation: hjbg 7s linear infinite;
}

@keyframes hjbg{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

#box-photo-content div{
  z-index: 1;
  padding-top: 10px;
  padding-left: 9px;
  padding-right: 9px;
}

#hj-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-heading{
  /* z-index: 1; */
  color: cyan;
  padding-bottom: 80px;
  font-size: 40px;
}

#main-about{
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about-main-text{
  margin-left: 100px;
  text-align: center;
}

#about-main-text h2{
  position: relative;
  font-size: 2.3vw;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  font-weight: 100;
}

#about-main-text h2::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: developedBy 4s linear infinite;
}

@keyframes developedBy{
  0%,10%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}

#about-main-text h1{
  margin-top: 35px;
  position: relative;
  font-size: 1.8em;
  letter-spacing: 5px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transperent,#0004);
  line-height: 0.7;
  outline: none;
  animation: hj 5s linear infinite;
}

@keyframes hj{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
  }
}

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-heading{
  /* z-index: 1; */
  color: darkblue;
  padding-bottom: 10px;
  font-size: 40px;
}

#main-contact-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

#map-div{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 500px;
  color: darkblue;
  margin-right: 20px;
}

#map-div iframe{
  height: 370px;
  width: 100%;
  border-radius: 20px;
}

#phone-div {
  position: relative;
}

#mobile-photo {
  height: 530px;
  width: 300px;
}

#phone-app-details {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  color: white;
}

#phone-app-details img {
  height: 180px;
  width: 180px;
}

#contact-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4px;
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 3px darkblue solid;
  overflow: hidden;
  animation: wavy-border-contact 2s infinite;
  word-break: break-all;
}

#contact-div div {
  /* display: flex; */
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#contact-div i {
  font-size: 25px;
  margin-right: 10px;
  color: darkblue;
}

#contact-div a {
  color: darkblue;
  text-decoration: none;
}

@keyframes wavy-border-contact {
  0%, 100% {
    border-radius: 20px;
    border: 3px darkblue solid;
  }
  25%, 75% {
    border-radius: 20px 40px 20px 40px;
    border: 3px darkblue solid;
  }
  50% {
    border-radius: 40px 20px 40px 20px;
    border: 3px darkblue solid;
  }
}

#made-in-india{
  color: darkblue;
  text-align: center;
}

.skeleton-map {
  position: absolute;
  z-index: 1;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #eee 25%, #dddddddc 50%, #eeeeeee2 75%);
  background-size: 200% 100%;
  animation: skeletonAnimation 1.5s infinite linear;
}

.skeleton-mobile {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 90%;
  border-radius: 20px;
  background: linear-gradient(45deg, #eee 25%, #dddddddc 50%, #eeeeeee2 75%);
  background-size: 200% 100%;
  animation: skeletonAnimation 1.5s infinite linear;
}

@media only screen and (max-width: 600px) {
  section {
      height: auto;
      padding: 20px;
  }

  #logo-image{
    height: 100px;
    width: 100px;
  }

  #home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .wave{
    margin-top: 70px;
  }

  .home-menu{
    width: 100%;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 32px;
    z-index: 0;
    order: 2;
  }

  .home-menu-ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  
  #service-heading{
    text-align: center;
  }

  #about-heading{
    padding-bottom: 20px;
  }

  .slideshow-container {
    order: 1;
    height: auto;
    margin-top: 120px;
    margin-right: 0;
    margin-bottom: 70px;
  }

  .carousel-item,
  .image-wrapper,
  .skeleton {
      height: 200px;
  }

  .home-menu-ul li {
      width: 100%;
      margin-bottom: 10px;
  }

  #box-photo-content::before {
      width: 35%;
      left: 45%;
      top: -100px;
  }

  #about {
      padding: 20px;
  }

  #main-about {
      flex-direction: column;
      align-items: center;
  }

  #about-main-text {
      margin-left: 0;
  }

  #about-main-text h2 {
    margin-top: 25px;
      font-size: 18px;
      -webkit-text-stroke: 0.1em #383d52;
  }

  #about-main-text h1 {
    letter-spacing: 4px;
    font-size: 1.3em;
    margin-top: 30px;
    line-height: 55px;
  }

  #contact {
    padding: 20px;
  }

  #main-contact-div {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  #map-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    position: relative;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .skeleton-map {
    height: 100%;
    width: 100%;
  }

  #map-div iframe {
    height: 100%;
  }

  #phone-div {
      flex-direction: column;
      align-items: center;
  }

  #phone-app-details {
      top: 50%;
  }

  #phone-app-details img {
      height: 120px;
      width: 120px;
  }

  #contact-div {
    font-size: 28px;
    border: none;
    padding: 10px;
    width: 100%;
    word-break: break-all;
    text-wrap: wrap;
    margin-bottom: 50px;
  }

  #map-div-text{
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  section {
    height: auto;
    padding: 20px;
  }

  #logo-image {
    height: 100px;
    width: 100px;
  }

  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wave {
    margin-top: 70px;
  }

  .home-menu {
    width: 100%;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 32px;
    z-index: 0;
    order: 2;
  }

  .home-menu-ul li {
    width: 100%;
    margin-bottom: 10px;
  }

  #service-heading {
    text-align: center;
  }

  #about-heading {
    padding-bottom: 20px;
  }

  .slideshow-container {
    position: relative;
    width: 100%;
    height: 40vh;
    margin-top: 120px;
    margin-right: 0;
    margin-bottom: 70px;
    order: 1;
  }
  
  .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-wrapper {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-menu-ul li {
    width: 100%;
    margin-bottom: 10px;
  }

  #box-photo-content::before {
    width: 35%;
    left: 45%;
    top: -100px;
  }

  #about {
    padding: 20px;
  }

  #main-about {
    flex-direction: column;
    align-items: center;
  }

  #about-main-text {
    margin-left: 0;
  }

  #about-main-text h2 {
    margin-top: 25px;
    font-size: 18px;
    -webkit-text-stroke: 0.1em #383d52;
  }

  #about-main-text h1 {
    letter-spacing: 4px;
    font-size: 1.3em;
    margin-top: 30px;
    line-height: 55px;
  }

  #contact {
    padding: 20px;
  }

  #main-contact-div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #map-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
    position: relative;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .skeleton-map {
    height: 100%;
    width: 100%;
  }

  #map-div iframe {
    height: 100%;
  }

  #phone-div {
    flex-direction: column;
    align-items: center;
  }

  #phone-app-details {
    top: 50%;
  }

  #phone-app-details img {
    height: 120px;
    width: 120px;
  }

  #contact-div {
    font-size: 28px;
    border: none;
    padding: 10px;
    width: 100%;
    word-break: break-all;
    text-wrap: wrap;
    margin-bottom: 50px;
  }

  #map-div-text {
    display: none;
  }
}
