.change-password-user{
    background-color: rgb(183, 221, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

.change-password-user-blur{
    filter: blur(38px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

body.dark .change-password-user{
    background-color: rgb(1, 1, 32);
}

body.dark .change-password-user-blur{
    background-color: rgb(1, 1, 32);
}


.change-password-user h2{
    color: darkblue;
}

body.dark .change-password-user h2{
    color: white;
}

.change-password-user .registration-form label{
    color: darkblue;
}

body.dark .change-password-user .registration-form label{
    color: white;
}

.change-password-user .registration-form input{
    color: darkblue;
}

body.dark .change-password-user .registration-form input{
    color: white;
}

.change-password-user .registration-form input::placeholder{
    color: darkgray;
}

.change-password-user .registration-form .toggle-password i{
    color: darkblue;
}

body.dark .change-password-user .registration-form .toggle-password i{
    color: white;
}

.change-password-user .registration-form{
    background-color: rgba(0, 98, 255, 0.089);
}