.myuploads-user-datatable-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    height: auto;
    padding: 50px;
    color: darkblue;
}

body.dark .myuploads-user-datatable-main{
    color: white;
}

.myuploaded-docs-datatable-table{
    animation: wavy-border-data-table 2s infinite;
}

body.dark .myuploaded-docs-datatable-table{
    border: 2px white solid;
    animation: wavy-border-data-table-white 2s infinite;
}

body.dark .myuploaded-docs-datatable-table svg,body.dark .myuploaded-docs-datatable-table div{
    color: white;
}

@keyframes wavy-border-data-table {
    0% {
      border-radius: 20px;
      border: 2px solid darkblue;
    }
    25% {
      border-radius: 20px 40px 20px 40px;
      border: 2px solid darkblue;
    }
    50% {
      border-radius: 40px 20px 40px 20px;
      border: 2px solid darkblue;
    }
    75% {
      border-radius: 20px 40px 20px 40px;
      border: 2px solid darkblue;
    }
    100% {
      border-radius: 20px;
      border: 2px solid darkblue;
    }
  }

  @keyframes wavy-border-data-table-white {
    0% {
      border-radius: 20px;
      border: 2px solid white;
    }
    25% {
      border-radius: 20px 40px 20px 40px;
      border: 2px solid white;
    }
    50% {
      border-radius: 40px 20px 40px 20px;
      border: 2px solid white;
    }
    75% {
      border-radius: 20px 40px 20px 40px;
      border: 2px solid white;
    }
    100% {
      border-radius: 20px;
      border: 2px solid white;
    }
  }

.custom-header-datatable{
  font-weight: bolder;
  font-size: 21px;
  text-transform: uppercase;
  color: darkblue;
}

body.dark .myuploaded-docs-datatable-table .custom-header-datatable div{
  color: yellow;
}