.pdf-modal-main-div{
    color: darkblue;
    background-color: white;
    min-height: 100vh;
}

.pdf-modal-main-div h4{
    font-family: monospace;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

.qr-code-div{
    padding: 40px 40px 20px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userprofile-image-pdf{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.banner-image-pdf{
    height: 100px;
    width: 180px;
    border-radius: 25px;
}

.main-certificate-text{
    text-indent: 50px;
    margin: 10px 70px;
    font-family: monospace;
    font-size: 25px;
}

.main-certificate-text b {
    font-family: monospace;
}

.needed-fields-pdf{
    margin-top: 10px;
    font-family: monospace;
    font-size: smaller;
}

.signature-of-verified{
    width: 100%;
    text-align: end;
}

.signature-of-verified .signature-sign{
    font-family: monospace;
    padding-bottom: 20px;
    margin-right: 150px;
}

.fieldname-main-pdf{
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    padding: 15px;
}

.attached-files-pdf{
    padding: 20px 40px;
    page-break-inside: avoid;
}

.field-name-file{
    border: 2px solid darkblue;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 15px;
    text-align: center;
    page-break-inside: avoid;
}

.field-name-file img{
    max-width: 500px;
    height: auto;
    width: auto;
    max-height: 500px;
}

.pdf-modal-download-button{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: end;
}

.download-btn {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: rgb(56, 56, 206);
  }
  
/* @media print
{    
    .pdf-modal-download-button, .pdf-modal-download-button *
    {
        display: none !important;
    }
    @page {
        margin-top: 0;
    }
    @page {
        margin-bottom: 0;
    }
} */