.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/ramsetu.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#back-login{
    margin-top: 10px;
    text-align: end;
}

.registration-form {
    max-width: 360px;
    width: 100%;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.173);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, border-color 0.3s;
    animation: wavy-border1 2s infinite;
}

.registration-form::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    z-index: -1;
}

.registration-form:hover {
    transform: scale(1.07);
    border-color: rgba(255, 255, 255, 0.3);
    animation: wavy-border 2s infinite;
}

.registration-form h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 32px;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 27px;
}

.registration-form label {
    margin-top: 5px;
    display: block;
    margin-bottom: 8px;
    color: #fff;
    letter-spacing: 2px;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(242, 224, 224, 0.3);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: cyan;
    letter-spacing: 2.5px;
    font-size: 17px;
    font-family: 'Trebuchet MS', sans-serif;
    transition: background 0.3s, border 0.3s;
    box-sizing: border-box;
}

.registration-form input:focus {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.registration-form input::placeholder {
    color: #bbb;
}

.registration-form textarea {
    width: 100%;
    padding: 11px;
    border: 2px solid rgba(242, 224, 224, 0.3);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: cyan;
    letter-spacing: 2.5px;
    font-size: 17px;
    font-family: 'Trebuchet MS', sans-serif;
    transition: background 0.3s, border 0.3s;
    box-sizing: border-box;
}

.registration-form textarea:focus {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.registration-form textarea::placeholder {
    color: #bbb;
}

.registration-password-container {
    position: relative;
}

.registration-toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
}

.registration-toggle-password i {
    font-size: 18px;
    color: whitesmoke;
    margin-right: 5px;
}

.registration-error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.registration-button {
    width: 100%;
    padding: 12px;
    letter-spacing: 4px;
    margin-top: 16px;
    border: none;
    border-radius: 8px;
    background-color: #2196f3;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registration-button:hover {
    background-color: #1565c0;
}

#otp-input{
    display: flex;
    justify-content: center;
}

#otp-input input {
    margin: 0 5px;
    text-align: center;
    font-size: xx-large;
  }

#otp-input input::-webkit-outer-spin-button,
#otp-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#otp-input input[type=number] {
    -moz-appearance: textfield;
  }

.register-back {
    background: none;
    border: none;
    color: cyan;
    cursor: pointer;
    padding: 0;
}

select {
    width: 100%;
    padding: 11px;
    border: 2px solid rgba(242, 224, 224, 0.3);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: cyan;
    letter-spacing: 2.5px;
    font-size: 17px;
    font-family: 'Trebuchet MS', sans-serif;
    transition: background 0.3s, border 0.3s;
    box-sizing: border-box;
  }
  
select option {
    color: darkblue;
}

select:focus {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.8);
}

select::placeholder {
    color: #bbb;
}
    
@keyframes wavy-border1 {
    0% {
      border-radius: 20px;
      border: 2px rgba(0, 0, 0, 0.173) solid;
    }
    25% {
      border-radius: 20px 40px 20px 40px;
      border: 2px rgba(0, 0, 0, 0.173) solid;
    }
    50% {
      border-radius: 40px 20px 40px 20px;
      border: 2px rgba(0, 0, 0, 0.173) solid;
    }
    75% {
      border-radius: 20px 40px 20px 40px;
      border: 2px rgba(0, 0, 0, 0.173) solid;
    }
    100% {
      border-radius: 20px;
      border: 2px rgba(0, 0, 0, 0.173) solid;
    }
}

@media screen and (max-width: 600px) {
    .registration-form {
        max-width: 100%;
        margin: 20px;
    }
}
