.user-document-status-main{
    background-color: rgb(183, 221, 255);
    min-height: calc(100vh - 70px);
    color: darkblue;
    height: fit-content;
  }
  
  body.dark .user-document-status-main{
    background-color: rgb(1, 1, 32);
    color: white;
  }

  .user-document-status-blur{
  filter: blur(38px);
  }

  .user-document-status-main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .css-qvtrhg-MuiDataGrid-virtualScroller{
    overflow-x: hidden !important;
  }
  
  .myuploaded-docs-datatable-table{
    width: 90vw;
    animation: wavy-border-data-table 2s infinite
  }
  
  .MuiDataGrid-cell{
    white-space: wrap !important;
  }
  
  body.dark .myuploaded-docs-datatable-table{
    border: 2px white solid;
    animation: wavy-border-data-table-white 2s infinite;
  }
  
  body.dark .myuploaded-docs-datatable-table svg,body.dark .myuploaded-docs-datatable-table div{
      color: white;
  }
  
  @keyframes wavy-border-data-table {
      0% {
        border-radius: 20px;
        border: 2px solid darkblue;
      }
      25% {
        border-radius: 20px 40px 20px 40px;
        border: 2px solid darkblue;
      }
      50% {
        border-radius: 40px 20px 40px 20px;
        border: 2px solid darkblue;
      }
      75% {
        border-radius: 20px 40px 20px 40px;
        border: 2px solid darkblue;
      }
      100% {
        border-radius: 20px;
        border: 2px solid darkblue;
      }
    }
  
    @keyframes wavy-border-data-table-white {
      0% {
        border-radius: 20px;
        border: 2px solid white;
      }
      25% {
        border-radius: 20px 40px 20px 40px;
        border: 2px solid white;
      }
      50% {
        border-radius: 40px 20px 40px 20px;
        border: 2px solid white;
      }
      75% {
        border-radius: 20px 40px 20px 40px;
        border: 2px solid white;
      }
      100% {
        border-radius: 20px;
        border: 2px solid white;
      }
    }
  
  .custom-header-datatable{
    font-weight: bolder;
    font-size: 21px;
    text-transform: uppercase;
    color: darkblue;
  }
  
  body.dark .myuploaded-docs-datatable-table .custom-header-datatable div{
    color: yellow;
  }

  .image-wrapper-updatetable {
    position: relative;
    width: 90%;
    height: 100%;
    text-align: center;
  }
  
  .image-placeholder-updatetable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ffffff, #a1a0a0);
    animation: gradientAnimation 2s ease infinite alternate;
    padding: 5px;
    border-radius: 10px;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .image-banner-updatetable {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 12px;
  }