.user-dashboard{
  background-color: rgb(183, 221, 255);
  min-height: calc(100vh - 70px);
  height: fit-content;
}

.user-dashboard-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-dashboard-main-content-blur{
/* background-color: aqua; */
filter: blur(38px);
}

body.dark .user-dashboard{
  background-color: rgb(1, 1, 32);
}

.grid-container {
  width: calc(100vw - 10px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 0 45px;
  margin-top: 25px;
  padding-bottom: 40px;
}

.search-and-grid-main-div{
  padding-top: 25px;
}

.search-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-doc {
  /* max-width: 500px; */
  height: 45px;
  max-width: 250px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  position: relative;
}

.search-doc::placeholder {
  color: grey;
}

.search-doc:valid {
  border-color: darkblue;
  color: darkblue;
  box-shadow: 2px 2px 8px 1px darkblue;
}

.search-doc:invalid {
  border-color: #ff0000;
  color: #ff0000;
  box-shadow: 2px 2px 8px 1px #ff0000;
}

body.dark .search-doc:valid {
  border-color: #00ff2a;
  color: #00ff2a;
  box-shadow: 2px 2px 8px 1px #00ff2a;
}

body.dark .search-doc:invalid {
  border-color: #ff0000;
  color: #ff0000;
  box-shadow: 2px 2px 8px 1px #ff0000;
}

.search-doc {
  color: black;
}

@media screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 840px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    }
}

/* .card {
  position: relative;
  width: 280px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
} */

/* .card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */

/* .card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
} */

body.dark .card__content{
  background-color: black;
}

/* .card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
} */

.card__title {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: 500;
}

body.dark .card__title{
  color: white;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.25;
  overflow-y:hidden;
}

/* .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.card .smooth-image-wrapper-grid {
  width: 100%;
  height: 100%;
}

.card .smooth-image-wrapper-grid img {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  min-width: 100%;
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 100000;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.09);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.pagination button {
  display: flex;
  justify-content: center;
  background-color: #2196F3;
  border: 2px solid #2196F3;
  width: 50px;
  color: white;
  padding: 12px 20px;
  margin: 0 8px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.pagination button:hover {
  background-color: rgb(81, 170, 248);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.pagination button.active {
  background-color: darkblue;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.pagination button:disabled {
  background-color: #dddddd;
  color: #666;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .pagination {
    flex-wrap: wrap;
  }

  .pagination button {
    margin: 8px;
  }
}

.skeleton-grid {
  position: absolute;
  width: 100%;
  min-width: 100%;
  height: 200%;
  background: linear-gradient(-45deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  to {
    background-position: 200% 0;
  }
}

.smooth-image-wrapper-grid{
  height: 100%;
  width: 200%;
}

.pagination-blur{
  filter: blur(38px);
}
