/* VerifyUserDocDataTable.css */

.verify-user-table-container {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 16px;
  }

  body.dark .verify-user-table-container{
    background-color: #161449;
  }
  
  .verify-user-table {
    width: 100%;
  }
  
  .verify-user-table-head {
    background-color: #4070f4;
  }

  body.dark .verify-user-table-head {
    background-color: black;
  }
  
  .verify-user-table-cell {
    font-weight: normal;
    text-align: center;
    padding: 12px 0;
  }

  body.dark .verify-user-table-cell{
    color: white;
  }
  
  .verify-user-table-row:hover {
    background-color: rgba(64, 112, 244, 0.1);
  }
  
  .verify-user-banner-cell {
    width: 120px;
    padding-left: 16px;
}

.verify-user-banner-avatar {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .verify-user-user-cell {
    text-align: center;
    vertical-align: middle;
  }
  
  .verify-user-user-avatar {
    display: block;
    margin: 0 auto 8px;
  }
  
  .verify-user-user-name {
    font-family: monospace;
    font-weight: normal;
    text-align: center;
  }
  
  .verify-user-check-cell button {
    border: 1px solid #1976d2;
    color: #1976d2;
    border-radius: 999px;
    padding: 6px 16px;
    font-size: 14px;
  }
  
  .verify-user-check-cell button:hover {
    background-color: #1976d2;
    color: #fff;
  }
  
  body.dark .verify-user-table-bottom{
    color: white;
  }